name: athena.net-sql-edge

services:
  sql-edge:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: athena.net-sql-edge
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: "${SA_PASSWORD}"
    ports:
      - "1433:1433"
    volumes:
      - sql-edge-data:/var/opt/mssql

volumes:
  sql-edge-data:
